*{
    font-family: Inter, sans-serif;
}

#billSection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    line-height: 5px
}
#billSection > p:nth-child(even),#billSection > h3:nth-child(even){
    text-align: right;
}
#productDescription{
    display: grid;
    grid-template-columns: 20% 75% 5%;
    justify-content: space-between;
    gap: 3px;
    color: #475561;
    font-weight: lighter;
    font-family: Inter, sans-serif;
    /* color: rgb(0, 19, 37); */
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    cursor: pointer;
    margin: unset;
    
    
}
#amountdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border-top: 1px #ebecee solid;
}
#amountdiv > div+div > p,#amountdiv > div+div > h4{
    display: inline-block;
    margin: auto 3px;
    justify-content: space-between;
}
#amountdiv > div+div > p{
    text-decoration: line-through;
    color: rgb(118, 146, 173);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    margin: unset;
}
#productDiv{
    padding: 0px 5px;
    width: 95%;
    margin: auto;
    border: 2px #ebecee solid;
    margin: 5px;
    border-radius: 5px;

}
#productDiv img{
    width: 100%;
    
}
#productDescription h5{
    margin: 0px ;
}

body::-webkit-scrollbar{
    width: 5px;
    background-color:white;
}
body::-webkit-scrollbar-thumb{
    width: 5px;
    background-color:#fc2779;
}

#qtyDiv{
    display: flex;
    align-items: center;
}
#qtyDiv  > select{
   border: none;
}

#coupons{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    padding: 10px 20px;
    border: 2px #ebecee solid;
    margin: auto;
    margin: 5px;
    border-radius: 5px;
   
}
#coupons img{
    width: 80%;
    display: block;
    margin: auto;
}

#coupons p{
    margin: 0px;
    padding: 0px 20px;
    font-size:small;
}
#coupons h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 20px;
    font-size:medium;
    font-weight: bold;
}
#coupons i{
    font-size: 20px;
    color: rgb(118, 146, 173);
    text-align: center;

}

#billHead{
    padding: 10px 20px;
    border: 2px #ebecee solid;
    margin: auto;
    margin: 5px;
    border-radius: 5px;
}
