body{
    background-color: rgb(243,243,243);
   
}
*{
    font-family:  sans-serif;
    font-size: 16px;
    
}

#navbar{
     margin-top:-6px ;
     margin-left: -6px;
     margin-right: -6px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 80px;
    box-shadow:  rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    cursor:default;
}
#logo{
    width: 30%;
    border-right:rgb(235,235,235) 1px solid ;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}
#logo>img{
    height: 35px;
    margin-left: -20px;
  margin-top: 20px; 
}
#logo~div{
   
    width: 15%;
    margin-top: 3px;
   height: 95%;
    border-right:rgb(235,235,235) 1px solid ;
    padding-left: 5px;
    padding-right: 5x;
}

#logo+div{
    border-bottom: rgb(252,39,121) 3px solid;
}
#logo+div>h5{
    color:rgb(252,39,121) ;
    
}
#navbar h5{
    
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(63,65,77);
    
}


#container{
    display: flex;
    justify-content: center;
    
    margin-top: 30px;
    height: 480px;
}
.part1{
    height: 10%;
    width: 280px;
    /* padding-left: 20px;
    padding-bottom: 10px; */
    /* border: red solid 2px; */
    background-color: white;
    border-right:rgb(252,39,121) 3px solid ;
    box-shadow:  rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    cursor:pointer;
}
.part1>h5{
    /* font-size: larger; */
    margin-top:15px ;
    margin-left: 20px;
    color:rgb(252,39,121)
  
}
.part1+div{
background-color: white;
/* border: red solid 2px; */
width: 32%;
height: 100%;
margin-left: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 10px;
}


#part2>div:first-child{
    border-bottom: rgb(235,235,235) 1px solid ;
    width: 100%;
    height: 28px;
    margin-bottom: 20px; 
    
}
#part2>div:first-child>h5{
    margin-top: 20px;
}
#part2>p:nth-child(3){
    margin-bottom: 30px;
}
#part2>p:nth-child(4){
    color: rgb(165,123,123);
}
#social{
display: flex;
margin-bottom: 20px;
}
#social>div{
    display: flex;
    justify-content: space-around;
   border-radius: 8px;
    width:160px ;
border: rgb(238 238 238) solid 1px;
cursor: pointer;
margin-left: 10px;
}
#social p{
    margin-left: -30px;
font-size: 14px;
font-weight: bold;
}
#social img{
    border-radius: 4px;
    margin-top: 10px;
    height: 25px;
    width: 25px;
}
button{
    width: 100%;
    height: 50px;
    cursor: pointer;
    letter-spacing: 2px;
}
#btn1{
    font-weight: bold;
    background-color: rgb(252 39 121);
    color: white;
    border: none;
    border-radius: 1px;
}
#btn1+div{
    border-bottom: rgb(235,235,235) 1px solid ;
}
#btn1+div>h5{
    margin-bottom: 10px; 

}
#btn2{
    color:rgb(252 39 121); ;
    border: none;
    border:rgb(252 39 121) 1px solid ;
    background-color: white;
    border-radius: 1px;
    font-size: 16px;
    font-weight: bold;
}
.part3{
width: 25%;
height: 110%;
margin-left: 10px;
 column-gap: 20px;
 box-shadow:  rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
#top{
    height: 50px;
    background-color: white;
    padding-left: 15px;
    padding-right:15px ;
    
}
#pTopLeft{
color: rgb(254,194,94);

cursor:default;
}
#pTopRight{
   color: rgb(252,39,129);
   float: right;
   font-size: 12px;
   font-weight: 700;
   font-family: sans-serif;
   margin-top: 20px;
   margin-right: 30px;
   letter-spacing: 0.5px;
   cursor:default;
}
#mid{
    
    height: 50%;
    overflow-y: scroll;
    display: grid;
    grid-column-gap:10px ;
    margin-left: 10px;
    margin-top: 8px;
}
#mid::-webkit-scrollbar{
    width: 5px;
  background-color: rgb(243,243,243);
}
#mid::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgb(109 106 106);
}
#bottom{
    height: 35%;
    background-color:white ;
    margin-top: 15px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right:15px ;
}

#mainDiv{
    display: flex;
    margin-top: 15px;
    background-color: white;
    padding-right: 10px;
}


#imageDiv{
width: 33%;
height: 90%;
margin: auto;
}
#desDiv{
    width: 67%;
}
#pdImage{
    width: 100%;
    height: 100%;
}
#div2{
    border-bottom: solid 1px rgb(235,235,235);
padding: 5px;
}
#pTopLeft,#p31,#pb11#pb21,#pb31{
    float:left;
}
#p32{
    font-weight: bold;
}
#p,#div2,#p31,#p32{
    color: #3F414D;
}

#pb12,#pb22,#pb42{
    margin-top: -35px;
    
}
#p32,#pb12,#pb22,#pb32,#pb42{
    float: right;
}
#divb1,#divb2,#divb3,#divb4{
    
    width: 100%;
    height: 24.20%;
    
}
#divb1{
    margin-top: 5px;
}
#divb2,#divb3{
    margin-top: -20px;
}
#divb4{
    border-top: solid 1px rgb(235,235,235);
    border-bottom: solid 1px rgb(235,235,235);
}
#pb22,#pb31,#pb32{
    color: rgb(129,189,175);
}
#pb11,#pb12,#pb21,#pb41,#pb42{
    color: #3F414D;
}
#pb41{
    font-weight: bold;
    font-size: 14px;
}
/*  */