* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Inter", sans-serif !important;
}
header {
  padding: 8px 20px;
  margin: 0px;
  background: url(https://adn-static1.nykaa.com/media/wysiwyg/2021/common-strip.jpg);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  z-index: -20;
  font-weight: lighter;
}

header > h3 {
  animation-name: moveHeading;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 1500ms;
  animation-iteration-count: infinite;
  position: relative;
  top: auto;
  font-weight: lighter;
  z-index: -16;
}
header > h3:hover {
  color: #bb2860;
}
header > div {
  align-self: center;
}

@keyframes moveHeading {
  0% {
    bottom: -40px;
    opacity: 0%;
  }
  50% {
    bottom: -10px;
    z-index: 0;
    opacity: 70%;
  }
  100% {
    bottom: 0px;
    opacity: 100%;
    z-index: 0;
  }
}

#iconsNavbar {
  /* border: yellow 3px solid; */
  display: flex;
  justify-content: space-around;

  font-size: larger;
}

#iconsNavbar > div i {
  margin-right: 0px;
  font-size: 18px;
  /* border: 1px black solid; */
}
#iconsNavbar > div i {
  margin-left: 0px;
  /* border: 1px black solid; */
}
#iconsNavbar > div:hover {
  color: #bb2860;
  cursor: pointer;
}
#iconsNavbar > div {
  width: 30%;
  border-right: 1px black solid;
}
#iconsNavbar > div:last-child {
  border-right: none;
  width: 20%;
}

#subNavbar {
  /* border: 3px solid black; */
  display: grid;
  background-color: white;
  z-index: 1;
  grid-template-columns: 58% 42%;
  padding: 0px 40px;
  border-bottom: 1px solid #e4e4e4;
  height: 60px;
  position: sticky;
  top: 0px;
  z-index: 5;
}

#categorySection {
  display: grid;
  grid-template-columns: 15% 95%;
  column-gap: 20px;
  color: #fc2779;
}

#categorySection > img {
  width: 100%;
  margin: auto;
}

#category {
  display: flex;
  /* grid-template-columns: repeat(5,1fr); */

  align-items: center;
}
#category > a {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: small;
  font-weight: bolder;
  color: black;
  height: 90%;

  text-decoration: none;
  text-align: center;
  width: fit-content;
  border: none;
  margin: auto 15px;
}
#category span:hover {
  color: #bb2860;
}
#category > button {
  border: none;
  height: 100%;
  font-size: small;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  /* border: 3px solid yellow; */
  margin: auto 20px;
}
#accountSection {
  display: flex;
  column-gap: 5px;
  align-items: center;
  cursor: pointer;
}
#accountSection i:nth-child(1) {
  margin-right: 5px;
}
#accountSection i {
  cursor: pointer;
}
#profileTab {
  display: block;
  margin: auto;
}
#profileTab > i:first-child {
  margin-right: 5px;
}
#carTab > i {
  text-align: center;
}
#searchBar {
  display: flex;
  width: 80%;
  background-color: #eedddd;
  height: 35%;
  align-items: center;
  column-gap: 5px;
  padding: 3px;
  font-size: large;
  border-radius: 5px;
  /* justify-items: left; */
}
#searchBar input {
  border: none;
  border-color: transparent;
  background-color: #eedddd;
  font-size: 14px;
  font-weight: 20px;
  height: 70%;
  width: 100%;
  outline: none;
}

#searchBar i {
  margin: 3px;
}

#profileAndCart {
  margin-left: 10px;
  width: 60%;
  display: flex;
  column-gap: 5px;

  justify-content: space-evenly;
  grid-template-columns: 30% 30% 40%;
}

#CartTab {
  font-size: large;
}

#brandHover {
  position: absolute;
  top: 62px;
  left: 100px;
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: none;

  text-align: left;
  z-index: -1;
}
@keyframes hoverDown {
  from {
    top: 60px;
  }
  to {
    top: 85px;
  }
}
#navbar_brands:hover > #brandHover,
#brandHover:hover #brandHover {
  display: grid;
  animation-name: hoverDown;
  animation-duration: 500mc;
  animation-timing-function: linear;
}
#brandName {
  background-color: #faf6f6;
}
#brandSearch {
  display: flex;

  background-color: #eedddd;
  width: 80%;
  align-items: center;
  column-gap: 5px;
  margin: 0px;
  padding: 0px;
  font-size: large;
  border-radius: 5px;
}
#brandSearch input {
  border: none;
  border-color: transparent;
  background-color: #eedddd;
  font-size: 12px;
  font-weight: 20px;
  height: 20%;
  width: 100%;
  outline: none;
}

#brandSearch i {
  margin: 3px;
  color: #bd7575;
  height: 20px;
}

#brandName h4 {
  margin-top: 8px;
  margin-bottom: 13px;
  font-size: large;
  color: #ff9a9a;
}
#brandName p {
  margin-bottom: 5px;
  cursor: pointer;
  color: #757272;
}

#brandName p:hover {
  color: #d45151;
}
#brandName {
  padding: 10px;
}

#brandlogo {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #f3f3f3;
}

#brandlogo img {
  cursor: pointer;
  margin: auto;
}
#brandlogo img:hover {
  background-color: white;
}

#luxeHover {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* border: 3px solid black; */
  column-gap: 10px;
  width: 70%;
  position: absolute;
  top: 62px;
  left: 100px;
  text-align: left;
  font-weight: lighter;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: -1;
  display: none;
  background-color: #faf6f6;
}

#luxeHover h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fc91a8;
}
#luxeHover p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 3px;
  color: #fc2779;
}
#luxeHover > div {
  padding: 10px;
}
#luxeHover > div:nth-child(odd) {
  background-color: #ffffff;
}
#luxeHover > div:nth-child(even) {
  background-color: #f7f7f7;
}
#luxeHover > div:nth-child(odd) p:hover {
  color: #e76565;
}
#luxeHover > div:nth-child(even) p:hover {
  color: #bd7e7e;
}

#navbar_luxe:hover > #luxeHover,
#luxeHover:hover #luxeHover {
  display: grid;
}
#nykaaFashionHover {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 3px solid black; */
  column-gap: 10px;
  width: 70%;
  position: absolute;
  top: 62px;
  left: 100px;
  text-align: left;
  font-weight: lighter;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: -1;
  display: none;
  background-color: #faf6f6;
}

#nykaaFashionHover h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fc91a8;
}
#nykaaFashionHover p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 3px;
  color: #fc2779;
}
#nykaaFashionHover > div {
  padding: 10px;
}
#nykaaFashionHover > div:nth-child(odd) {
  background-color: #ffffff;
}
#nykaaFashionHover > div:nth-child(even) {
  background-color: #f7f7f7;
}
#nykaaFashionHover > div:nth-child(odd) p:hover {
  color: #e76565;
}
#nykaaFashionHover > div:nth-child(even) p:hover {
  color: #bd7e7e;
}

#navbar_nykaaFashion:hover > #nykaaFashionHover,
#nykaaFashionHover:hover #nykaaFashionHover {
  display: grid;
}

#beautyHover {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 3px solid black; */
  column-gap: 10px;
  width: 70%;
  position: absolute;
  top: 62px;
  left: 100px;
  text-align: left;
  font-weight: lighter;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: -1;
  display: none;
  padding: 15px;
  justify-content: center;
  background-color: #faf6f6;
}
#beautyHover img {
  width: 70%;
  margin: auto;
  border: 1px solid #bd7e7e;
  border-radius: 8px;
  border: 2px solid white;
}
#beautyHover img:hover {
  border: 2px solid #bd7e7e;
}

#navbar_beauty:hover > #beautyHover,
#beautyHover:hover #beautyHover {
  display: grid;
}

#navbarCategoryBar {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#navbarCategoryBar a {
  text-decoration: none;
  font-size: 15px;
  color: #fc2779;
  border-bottom: 1px solid white;
}
#navbarCategoryBar a:hover {
  font-weight: bolder;
  color: #bd7575;
  border-bottom: 1px solid #da3d3d;
}

#menuBarResponsive {
  width: fit-content;
  font-size: larger;
  display: none;
}

@media screen and (max-width: 1225px) {
  #category {
    display: none;
  }
  #searchBar {
    display: none;
  }
  #accountSection {
    display: flex;
    justify-content: center;
  }
  #logout {
    display: none;
  }

  #subNavbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #menuBarResponsive {
    display: block;
    cursor: pointer;
  }

  #profileAndCart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  #navbarCategoryBar {
    display: none;
  }
  #iconsNavbar {
    display: none;
  }
  header {
    grid-template-columns: repeat(1, 1fr);
  }
  #profileTab {
    width: 100%;
  }
  #categorySection {
    display: flex;
    height: auto;
  }

  #categorySection img {
    width: 40%;
  }
  #menubarOpen {
    width: 80%;
  }
}

#menubarOpen {
  height: 100vh;
  width: 50%;
  border: 2px solid #9b9b9a;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  color: crimson;
  animation-name: menuAnimation;
  animation-duration: 100ms;
  animation-timing-function: linear;
  z-index: 10;
  font-family: "Inter", sans-serif;
  font-size: large;
  padding: 3px;
}

@keyframes menuAnimation {
  0% {
    left: -50px;
  }
  25% {
    left: -40px;
  }
  50% {
    left: -30px;
  }
  75% {
    left: -20px;
  }
  100% {
    left: 0px;
  }
}

#menubarOpenHead {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
  border-bottom: #f3dcdc 1px solid;
}

#menubarOpenHead img {
  width: 60%;
  margin: auto;
}

#menubarOpenHead i {
  width: 80%;
  font-size: 28px;
  text-align: right;
  color: rgb(230, 106, 127);

  /* border: 1px solid yellow; */
}

.menubarDivs > div {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: space-around;
}

#menubarOpen details > summary {
  list-style: none;
}
#menubarOpen details > summary::-webkit-details-marker {
  display: none;
}
#menubarOpen details::-webkit-deta {
  display: none;
}

#menubarOpen details {
  list-style: none;
  cursor: pointer;
  color: crimson;
  font-size: large;
  font-weight: bolder;
}
#menubarOpen details p {
  display: block;
  margin: 0px;
  padding: 5px;
  color: black;
  font-size: 15px;
}
#menubarOpen details p:hover {
  background-color: rgb(240, 211, 217);
}

#menubarOpen > a i {
  width: 100%;
  /* border: 3px solid yellow; */
  color: rgb(133, 13, 117);
  text-align: center;
}

#menubarOpen > a > div {
  align-items: center;
  /* border: 3px solid black; */
  padding: 18px 0px;
  margin: auto;
  cursor: pointer;
}
#menubarOpen > a > div:nth-child(3) > i {
  margin: top;
}

#closeMenuBar {
  cursor: pointer;
}

/* Cart Section Css */

#cartBox {
  height: 100vh;
  width: 30%;
  border: 2px solid #9b9b9a;
  position: fixed;
  top: 0px;
  right: 3px;
  background-color: white;
  animation-name: cartAnimation;
  animation-duration: 100ms;
  animation-timing-function: linear;
}

#cartBox::-webkit-scrollbar {
  width: 0px;
  background-color: white;
}
#cartBox::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #fc2779;
}

@media screen and (max-width: 1150px) {
  #cartBox {
    width: 40%;
  }
}
@media screen and (max-width: 900px) {
  #cartBox {
    width: 60%;
  }
}
@media screen and (max-width: 700px) {
  #cartBox {
    width: 75%;
  }
}
.opacityClass {
  opacity: 0.8;
  overflow: hidden;
}

@keyframes cartAnimation {
  0% {
    right: -50px;
  }
  25% {
    right: -40px;
  }
  50% {
    right: -30px;
  }
  75% {
    right: -20px;
  }
  100% {
    right: 3px;
  }
}
#cartPage {
  width: 100%;
  height: 100rem;
  margin: 0px;
  font-family: "Inter", sans-serif;
}

#cartPage::-webkit-scrollbar-thumb {
  width: 0px;
}
#cartPage::-webkit-scrollbar-track {
  width: 0px;
  background-color: transparent;
}

#closeCart {
  position: fixed;
  background-color: blue;
}
#cartHeader {
  display: flex;
  align-items: center;
  height: 55px;
  column-gap: 5px;
  position: sticky;
  top: 0px;
  /* background-color: azure; */
  padding: 0px 10px;
  align-items: center;
  border-bottom: 2px #ebecee solid;
  font-family: "Inter", sans-serif;
}

#cartHeader h2 {
  font-size: larger;
  margin-left: 10px;
}

#cartHeader span {
  color: rgba(0, 19, 37, 0.64);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  align-self: center;
}
#logout {
  color: black;
  /* background-color: yellow; */
}

#cartMain {
  width: 100%;
}
#embedCart {
  width: 100%;
  height: 91vh;
  border: none;
}
body {
  margin: 0px;
  padding: 0px;
}

#subNavbar input {
  height: fit-content;
  font-size: 15px;
  padding: 5px 0px;
}
#searchBar {
  height: fit-content;
}

#category a > spam {
  font-size: larger;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}
body::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #fc2779;
}

#navbarCategoryBar {
  margin-bottom: 5px;
}

header > h3 {
  margin: auto;
  font-size: 18px;
  font-weight: bolder;
}
